[submodule "external/doxygen-awesome-css"]
	path = external/doxygen-awesome-css
	url = ../../jothepro/doxygen-awesome-css.git
[submodule "external/doctest"]
	path = external/doctest
	url = ../../doctest/doctest.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt.git
