[submodule "external/doxygen-awesome-css"]
	path = submodules/doxygen-awesome-css
	url = ../../jothepro/doxygen-awesome-css.git
[submodule "external/doctest"]
	path = submodules/doctest
	url = ../../doctest/doctest.git
